[init]
    defaultbranch=main

[user]
    name=Aaron Perrotta
    email = 19561067+aaronzper@users.noreply.github.com

[alias]
    graph=log --oneline --graph
    l=log --oneline

[pager]
    branch=false
    config=false

[push]
	autoSetupRemote = true
